bert_score==0.3.13
datasets==2.18.0
ipdb==0.13.13
networkx==3.2.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
peft==0.10.0
PyYAML==6.0.1
PyYAML==6.0.1
rouge==1.0.1
scikit_learn==1.4.1.post1
torch==2.2.1
torch==2.3.0.post300
tqdm==4.66.2
transformers==4.39.3
